@model EventsPlus.Models.Event

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<!-- Creates the delete confirmation box with the data from the database based on the model -->

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organizer.OrganizerContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventsStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventsStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventsStartEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventsStartEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAttendies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAttendies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivacySetting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivacySetting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerifiedOnly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerifiedOnly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventType.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VenueAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VenueAddress.City)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
