@model EventsPlus.ViewModels.EventAttendees

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search : <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a class="btn btn-primary btn-sm" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EvId"]">Event Id</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Organizer"]">Organizer</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateStartSortParm"]">EventsStartTime</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateEndSortParm"]">EventsStartEnd</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumOfAttendees"]">Number Of Attendies </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PrivSet"]">Privacy Setting </a>
            </th>
            <th></a>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VerfOnl"]">Verified Only</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">Event Type</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">VenueAddress</a>
             </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organizer.OrganizerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventsStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventsStartEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfAttendies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrivacySetting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerifiedOnly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueAddress.ContactAddressLine1)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Index" asp-route-id="@item.Id">See Attendees</a> |
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.GuestAttendees != null)
{

    <h2>Attendees for selected event</h2>

    <p>
    </p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Contact Number
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Event
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GuestAttendees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}